@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Heads{
    <link href="/css/form.css" rel="stylesheet" />
    <link href="/css/Authorization/VerificationPassword.css" rel="stylesheet" />
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResearchHome.Models.Authorization.VerificationPasswordModel
@addTagHelper *, ResearchHome
<div class="layui-contentall" style="width: 100%;">
    <form id="editHeroicStyle" style="text-align:center;" class="layui-form layui-form-small" asp-antiforgery="true" autocomplete="off">
        <div class="layui-form-item">
            <div id="ImageUrlError" style="height: 50px;position: relative;">
                <div class="valid-tips" style="position: absolute;bottom: 10px;left: 0;right: 0;">
                    <span class="valid-tips-span field-validation-error" style="display: @Html.Raw(TempData["VerificationErrorMessage"] == null ? "none" : "inline-block")">
                        <span>@Html.Raw(TempData["VerificationErrorMessage"] == null ? string.Empty : TempData["VerificationErrorMessage"])</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="OldPassword" name="OldPassword" asp-for="OldPassword" placeholder="请输入当前密码" class="layui-input" />
                    <div>
                        <div class="valid-tips"><span class="valid-tips-span" asp-validation-for="OldPassword"></span></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="NewPassword" name="NewPassword" asp-for="NewPassword" placeholder="请输入新密码" class="layui-input" />
                    <div>
                        <div class="valid-tips"><span class="valid-tips-span" asp-validation-for="NewPassword"></span></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">再次确认</label>
                <div class="layui-input-inline">
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" placeholder="再次输入新密码" class="layui-input" />
                    <div>
                        <div class="valid-tips"><span class="valid-tips-span" asp-validation-for="ConfirmPassword"></span></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-form-item layui-content-btn">
            <div class="submitBtn">
                <button type="submit" style="width:100%;" id="btnSubmit" class="layui-btn" data-ripple>确认</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="/js/Authorization/VerificationPassword.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var oldPassword = '@Html.Raw(string.IsNullOrEmpty(Model.OldPassword) ? "" : Model.OldPassword.Replace("\"", "\\\""))';
            var newPassword = '@Html.Raw(string.IsNullOrEmpty(Model.NewPassword) ? "" : Model.NewPassword.Replace("\"", "\\\""))';
            var confirmPassword = '@Html.Raw(string.IsNullOrEmpty(Model.ConfirmPassword) ? "" : Model.ConfirmPassword.Replace("\"", "\\\""))';
            if (oldPassword !== '') {
                $('#OldPassword').val(oldPassword);
                passwordStyle("OldPassword");
            }
            if (newPassword !== '') {
                $('#NewPassword').val(newPassword);
                passwordStyle("NewPassword");
            }
            if (confirmPassword !== '') {
                $('#ConfirmPassword').val(confirmPassword);
                passwordStyle("ConfirmPassword");
            }
        };
    </script>
}
