@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="layui-row" style="margin-top:20px;margin-right:30px;">
    <div class="layui-col-xs12">
        <form class="layui-form" action="/TaskScheduleBoard/Todo/EditTodo" method="post" asp-antiforgery="true" autocomplete="off">
            <input type="hidden" name="todoId" value="@ViewBag.TodoId" />
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    @if (ViewBag.Type == "view")
                    {
                        <textarea name="description" placeholder="请输入Todo描述" class="layui-textarea" lay-verify="required" style="height:150px;" disabled>@ViewBag.Description</textarea>
                    }
                    else
                    {
                        <textarea name="description" placeholder="请输入Todo描述" class="layui-textarea" lay-verify="required" style="height:150px;">@ViewBag.Description</textarea>
                    }
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态是：</label>
                <div class="layui-input-block">
                    @if (ViewBag.Type == "view")
                    {
                        <select id="todoStatus" name="todoStatus" lay-verify="required" lay-search="" disabled>
                            <option value="">请选择</option>
                        </select>
                    }
                    else
                    {
                        <select id="todoStatus" name="todoStatus" lay-verify="required" lay-search="">
                            <option value="">请选择</option>
                        </select>
                    }
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    @if (ViewBag.Type == "view")
                    {
                        <textarea name="remark" placeholder="请输入备注" class="layui-textarea" style="height:150px;" disabled>@ViewBag.Remark</textarea>
                    }
                    else
                    {
                        <textarea name="remark" placeholder="请输入备注" class="layui-textarea" style="height:150px;">@ViewBag.Remark</textarea>
                    }
                </div>
            </div>
            @if (ViewBag.Type != "view")
            {
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit style="float:right;">保存</button>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

<script>
    layui.use(['element', 'form'], function () {
        var form = layui.form, element = layui.element;
        SelectBind("GetTodoStatus", "todoStatus", "statusId", "statusName", HtmlUtil.htmlDecode('@ViewBag.Status'), "150px", form);
    });
</script>